

@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Exo';
    src: url('../fonts/exo-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}