
@font-face {
    font-family: 'Greyscale Basic';
    src: url('../fonts/greyscale-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Greyscale Basic';
    src: url('../fonts/greyscale-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'Greyscale Basic';
    src: url('../fonts/greyscale-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Greyscale Basic';
    src: url('../fonts/greyscale-regularitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}